<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Samsung M 20">
		<listeners>
			<listener class-name="com.app.listeners.TestListener" />
		</listeners>
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="3201c353b10a16ef" />
		<parameter name="deviceName" value="SM20" />
		<parameter name="systemPort" value="10000" />
		<classes>
			<class name="com.app.tests.RegisterUserTests"></class>
			<class name="com.app.tests.HomePageTests"></class>
		</classes>
	</test>
	<!-- <test name="Redmi Note 4">
		<listeners>
			<listener class-name="com.app.listeners.TestListener" />
		</listeners>
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="954a5e469904" />
		<parameter name="deviceName" value="Redmi Note 4" />
		<parameter name="systemPort" value="11000" />
		<classes>
			<class name="com.app.tests.RegisterUserTests"></class>
			<class name="com.app.tests.HomePageTests"></class>
		</classes>
	</test> -->
</suite> 
